ATTANDANCE{{define "content"}}
{{if .flashMessage}}
{{if (eq .flashMessage.Type "success")}}
<div class="alert alert-success alert-dismissible" role="alert">
    <div class="alert-text">{{.flashMessage.Message}} Welcome {{.data.Name}}</div>
    <div class="alert-close">
        <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
    </div>
</div>
{{end}}
{{end}}
<p class="text-center">ATTENDANCE</p>

<div class="card">
    <div class="card-header">
        Welcome, {{.data.Name}}
    </div>
    <input id="id-user" type="text" value="{{.data.UserID}}" hidden>
    <div class="card-body">
        <table class="table table-striped- cell-border table-hover table-checkable" id="table-user"
               style="width: 100%">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <div class="text-center">
            <a type="button" class="btn btn-outline-brand btn-elevate btn-circle btn-icon" href="/check/attend/checkin"><i
                    class="fa fa-fingerprint"></i></a>&nbsp;
            <h6>ADD ATTENDANCE</h6>
        </div>
    </div>
</div>

<script type="text/javascript">

    function alert(id) {
        swal.fire({
            title: 'Are you sure want to checkout? ',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Checkout!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then(function(result){
            if (result){
                console.log("RES : ", result)

                $.ajax({
                    url: "/check/attend/checkout/"+id,
                    type: "POST",
                    beforeSend: function () {
                    },
                    success: function (res) {
                        swal.fire(
                            'Checkout!',
                            ''+res+'',
                            'success'
                        )
                    },
                    error: function (xhr) {
                        swal.fire(
                            'Error',
                            ''+xhr+'',
                            'error'
                        )
                    }
                })
            }else {
                swal.fire(
                    'Cancelled',
                    'Your file is safe :)',
                    'error'
                )
            }
        });
    }
    $('#kt_sweetalert_demo_9').click(function(e) {
        alert("WEW")
        swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then(function(result){
            if (result.value) {
                swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )

                // result.dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
            } else if (result.dismiss === 'cancel') {
                swal.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                )
            }
        });
    });

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
</script>
{{end}}