ATTANDANCE{{define "content"}}
{{if .flashMessage}}
{{if (eq .flashMessage.Type "success")}}
<div class="alert alert-success alert-dismissible" role="alert">
    <div class="alert-text">{{.flashMessage.Message}} Welcome {{.data.Name}}</div>
    <div class="alert-close">
        <i class="flaticon2-cross kt-icon-sm" data-dismiss="alert"></i>
    </div>
</div>
{{end}}
{{end}}
<p class="text-center">ATTENDANCE</p>

<div class="card">
    <div class="card-header">
        Welcome, {{.data.Name}}
    </div>
    <div class="card-body">
        <table class="table table-striped- cell-border table-hover table-checkable" id="kt_table"
               style="width: 100%">
            <thead>
            <!--            <tr>-->
            <!--                <th style="visibility: hidden">Id</th>-->
            <!--                <th style="visibility: hidden">Id</th>-->
            <!--&lt;!&ndash;                <th>Nik</th>&ndash;&gt;-->
            <!--&lt;!&ndash;                <th>Name</th>&ndash;&gt;-->
            <!--&lt;!&ndash;                <th>Email</th>&ndash;&gt;-->
            <!--&lt;!&ndash;                <th>Role</th>&ndash;&gt;-->
            <!--&lt;!&ndash;                <th>Status</th>&ndash;&gt;-->
            <!--&lt;!&ndash;                <th class="text-center">Action</th>&ndash;&gt;-->
            <!--            </tr>-->
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <span class="kt-media kt-media--circle kt-media--sm">
                        <img src="/check/assets/media/users/100_12.jpg" alt="image">
                    </span>
                </td>
                <td style="width: 40%"><small>Friday, 24 June <br> Worked for 15 Hrs 32 Min</small></td>
                <td style="width: 40%">
                    <div class="text-right">
                        <small>08.00<br>16.00</small>
                    </div>
                </td>
            </tr>
            

            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="card-footer">
        <div class="text-center">
            <a type="button" class="btn btn-outline-brand btn-elevate btn-circle btn-icon" href="/check"><i
                    class="fa fa-fingerprint"></i></a>&nbsp;
            <h6>ADD ATTENDANCE</h6>
        </div>
    </div>

</div>
<script>
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
</script>
{{end}}